@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgb(249, 252, 255);
}

.login-card {
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.login-card h2 {
    margin-bottom: 20px;
}

.input-fields {
    display: flex;
    flex-direction: column;
}

.input-fields input {
    margin: 5px 0 10px 0;
    padding: 15px 20px;
    height: 30px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
}

.input-fields button {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 54, 237);
}

.input-fields button:hover {
    cursor: pointer;
    background-color: rgb(28, 21, 128);
}